@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700,300,400italic&subset=latin,latin-ext);
/*! normalize.css modified for PXtoEM.com at 16px
    normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
html {
  font-size: 1em;
  /* 1 */
  -webkit-text-size-adjust: 1em;
  /* 2 */
  -ms-text-size-adjust: 1em;
  /* 2 */ }

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

/*
 * Addresses margins handled incorrectly in IE6/7
 */
body {
  margin: 0; }

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

/*
 * Addresses styling not present in S5, Chrome
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE6/7/8/9
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Addresses margins set differently in IE6/7
 */
p,
pre {
  margin: 1em 0; }

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
q {
  quotes: none; }

/* 2 */
q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

/*
 * Addresses paddings set differently in IE6/7
 */
menu,
ol,
ul {
  padding: 0 0 0 40px; }

/*
 * Corrects list images handled incorrectly in IE7
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/*
 * Corrects overflow displayed oddly in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
form {
  margin: 0; }

/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */ }

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
button,
input {
  line-height: normal;
  /* 1 */ }

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* GridLayout
 *
 * Ionuț Colceriu - ghinda.net
 * https://github.com/ghinda/gridlayout
 */
/* media-query mixin
 */
/* grid layout defaults
 */
.gl,
.gl-cell,
.gl-scrollview {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.gl {
  width: 100%; }

.gl-cell {
  position: relative;
  /* align at the top by default,
    * to fix issues with inline-block elements padding messing up
    * the vertical positioning of sibling cells, in horizontal grids.
    */
  vertical-align: top; }

/* cell sizes mixin.
 * 12 rows/columns.
 */
/* gridlayout mixin
 */
/* grid shows up md and up
 */
/* min-width 640px
   */
@media screen and (min-width: 48em) {
  .gl {
    display: table;
    border-collapse: collapse;
    table-layout: fixed; }

  .gl.gl-vertical {
    height: 100%; }

  .gl > .gl-cell {
    display: table-cell; }

  .gl.gl-vertical > .gl-cell {
    display: table-row; }

  .gl .gl-fill {
    height: 100%; }

  .gl > .gl-cell > .gl-scrollview > .gl-scrollview-content {
    position: absolute;
    /* Use left, right, 0 instead of width: 100%
       * because IE9 sets a 17px (scrollbar width) padding on the right side
       * of scrollview-content otherwise.
       */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    overflow: auto;
    /* scrollviews in ios
       */
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch; }

  .gl > .gl-cell > .gl-scrollview:after {
    content: '*';
    visibility: hidden; }

  .gl > .gl-cell > .gl-scrollview {
    display: block;
    height: 100%; }

  .gl.gl-vertical > .gl-cell > .gl-scrollview {
    position: relative;
    display: table-cell;
    /* set height auto so we don't use the height: 100% set
        * for horizontal grids.
        * this prevents the table cell from expanding in horizontal grids.
        */
    height: auto; }

  .gl-cell.gl-sm-1 {
    width: 8.333333333333334%; }

  .gl-vertical > .gl-cell.gl-sm-1 {
    height: 8.333333333333334%; }

  .gl-cell.gl-sm-2 {
    width: 16.666666666666668%; }

  .gl-vertical > .gl-cell.gl-sm-2 {
    height: 16.666666666666668%; }

  .gl-cell.gl-sm-3 {
    width: 25%; }

  .gl-vertical > .gl-cell.gl-sm-3 {
    height: 25%; }

  .gl-cell.gl-sm-4 {
    width: 33.333333333333336%; }

  .gl-vertical > .gl-cell.gl-sm-4 {
    height: 33.333333333333336%; }

  .gl-cell.gl-sm-5 {
    width: 41.66666666666667%; }

  .gl-vertical > .gl-cell.gl-sm-5 {
    height: 41.66666666666667%; }

  .gl-cell.gl-sm-6 {
    width: 50%; }

  .gl-vertical > .gl-cell.gl-sm-6 {
    height: 50%; }

  .gl-cell.gl-sm-7 {
    width: 58.333333333333336%; }

  .gl-vertical > .gl-cell.gl-sm-7 {
    height: 58.333333333333336%; }

  .gl-cell.gl-sm-8 {
    width: 66.66666666666667%; }

  .gl-vertical > .gl-cell.gl-sm-8 {
    height: 66.66666666666667%; }

  .gl-cell.gl-sm-9 {
    width: 75%; }

  .gl-vertical > .gl-cell.gl-sm-9 {
    height: 75%; }

  .gl-cell.gl-sm-10 {
    width: 83.33333333333334%; }

  .gl-vertical > .gl-cell.gl-sm-10 {
    height: 83.33333333333334%; }

  .gl-cell.gl-sm-11 {
    width: 91.66666666666667%; }

  .gl-vertical > .gl-cell.gl-sm-11 {
    height: 91.66666666666667%; }

  .gl-cell.gl-sm-12 {
    width: 100%; }

  .gl-vertical > .gl-cell.gl-sm-12 {
    height: 100%; }

  .gl-cell.gl-md-1 {
    width: 8.333333333333334%; }

  .gl-vertical > .gl-cell.gl-md-1 {
    height: 8.333333333333334%; }

  .gl-cell.gl-md-2 {
    width: 16.666666666666668%; }

  .gl-vertical > .gl-cell.gl-md-2 {
    height: 16.666666666666668%; }

  .gl-cell.gl-md-3 {
    width: 25%; }

  .gl-vertical > .gl-cell.gl-md-3 {
    height: 25%; }

  .gl-cell.gl-md-4 {
    width: 33.333333333333336%; }

  .gl-vertical > .gl-cell.gl-md-4 {
    height: 33.333333333333336%; }

  .gl-cell.gl-md-5 {
    width: 41.66666666666667%; }

  .gl-vertical > .gl-cell.gl-md-5 {
    height: 41.66666666666667%; }

  .gl-cell.gl-md-6 {
    width: 50%; }

  .gl-vertical > .gl-cell.gl-md-6 {
    height: 50%; }

  .gl-cell.gl-md-7 {
    width: 58.333333333333336%; }

  .gl-vertical > .gl-cell.gl-md-7 {
    height: 58.333333333333336%; }

  .gl-cell.gl-md-8 {
    width: 66.66666666666667%; }

  .gl-vertical > .gl-cell.gl-md-8 {
    height: 66.66666666666667%; }

  .gl-cell.gl-md-9 {
    width: 75%; }

  .gl-vertical > .gl-cell.gl-md-9 {
    height: 75%; }

  .gl-cell.gl-md-10 {
    width: 83.33333333333334%; }

  .gl-vertical > .gl-cell.gl-md-10 {
    height: 83.33333333333334%; }

  .gl-cell.gl-md-11 {
    width: 91.66666666666667%; }

  .gl-vertical > .gl-cell.gl-md-11 {
    height: 91.66666666666667%; }

  .gl-cell.gl-md-12 {
    width: 100%; }

  .gl-vertical > .gl-cell.gl-md-12 {
    height: 100%; } }
@media screen and (min-width: 62em) {
  .gl-cell.gl-lg-1 {
    width: 8.333333333333334%; }

  .gl-vertical > .gl-cell.gl-lg-1 {
    height: 8.333333333333334%; }

  .gl-cell.gl-lg-2 {
    width: 16.666666666666668%; }

  .gl-vertical > .gl-cell.gl-lg-2 {
    height: 16.666666666666668%; }

  .gl-cell.gl-lg-3 {
    width: 25%; }

  .gl-vertical > .gl-cell.gl-lg-3 {
    height: 25%; }

  .gl-cell.gl-lg-4 {
    width: 33.333333333333336%; }

  .gl-vertical > .gl-cell.gl-lg-4 {
    height: 33.333333333333336%; }

  .gl-cell.gl-lg-5 {
    width: 41.66666666666667%; }

  .gl-vertical > .gl-cell.gl-lg-5 {
    height: 41.66666666666667%; }

  .gl-cell.gl-lg-6 {
    width: 50%; }

  .gl-vertical > .gl-cell.gl-lg-6 {
    height: 50%; }

  .gl-cell.gl-lg-7 {
    width: 58.333333333333336%; }

  .gl-vertical > .gl-cell.gl-lg-7 {
    height: 58.333333333333336%; }

  .gl-cell.gl-lg-8 {
    width: 66.66666666666667%; }

  .gl-vertical > .gl-cell.gl-lg-8 {
    height: 66.66666666666667%; }

  .gl-cell.gl-lg-9 {
    width: 75%; }

  .gl-vertical > .gl-cell.gl-lg-9 {
    height: 75%; }

  .gl-cell.gl-lg-10 {
    width: 83.33333333333334%; }

  .gl-vertical > .gl-cell.gl-lg-10 {
    height: 83.33333333333334%; }

  .gl-cell.gl-lg-11 {
    width: 91.66666666666667%; }

  .gl-vertical > .gl-cell.gl-lg-11 {
    height: 91.66666666666667%; }

  .gl-cell.gl-lg-12 {
    width: 100%; }

  .gl-vertical > .gl-cell.gl-lg-12 {
    height: 100%; } }
.gl-sm {
  display: table;
  border-collapse: collapse;
  table-layout: fixed; }

.gl-sm.gl-vertical {
  height: 100%; }

.gl-sm > .gl-cell {
  display: table-cell; }

.gl-sm.gl-vertical > .gl-cell {
  display: table-row; }

.gl-sm .gl-fill {
  height: 100%; }

.gl-sm > .gl-cell > .gl-scrollview > .gl-scrollview-content {
  position: absolute;
  /* Use left, right, 0 instead of width: 100%
     * because IE9 sets a 17px (scrollbar width) padding on the right side
     * of scrollview-content otherwise.
  
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: 100%;
    overflow: auto;
  /* scrollviews in ios
     */
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch; }

.gl-sm > .gl-cell > .gl-scrollview:after {
  content: '*';
  visibility: hidden; }

.gl-sm > .gl-cell > .gl-scrollview {
  display: block;
  height: 100%; }

.gl-sm.gl-vertical > .gl-cell > .gl-scrollview {
  position: relative;
  display: table-cell;
  /* set height auto so we don't use the height: 100% set
      * for horizontal grids.
      * this prevents the table cell from expanding in horizontal grids.
      */
  height: auto; }

.gl-sm .gl-cell.gl-sm-1 {
  width: 8.333333333333334%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-1 {
  height: 8.333333333333334%; }

.gl-sm .gl-cell.gl-sm-2 {
  width: 16.666666666666668%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-2 {
  height: 16.666666666666668%; }

.gl-sm .gl-cell.gl-sm-3 {
  width: 25%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-3 {
  height: 25%; }

.gl-sm .gl-cell.gl-sm-4 {
  width: 33.333333333333336%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-4 {
  height: 33.333333333333336%; }

.gl-sm .gl-cell.gl-sm-5 {
  width: 41.66666666666667%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-5 {
  height: 41.66666666666667%; }

.gl-sm .gl-cell.gl-sm-6 {
  width: 50%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-6 {
  height: 50%; }

.gl-sm .gl-cell.gl-sm-7 {
  width: 58.333333333333336%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-7 {
  height: 58.333333333333336%; }

.gl-sm .gl-cell.gl-sm-8 {
  width: 66.66666666666667%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-8 {
  height: 66.66666666666667%; }

.gl-sm .gl-cell.gl-sm-9 {
  width: 75%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-9 {
  height: 75%; }

.gl-sm .gl-cell.gl-sm-10 {
  width: 83.33333333333334%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-10 {
  height: 83.33333333333334%; }

.gl-sm .gl-cell.gl-sm-11 {
  width: 91.66666666666667%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-11 {
  height: 91.66666666666667%; }

.gl-sm .gl-cell.gl-sm-12 {
  width: 100%; }

.gl-sm.gl-vertical > .gl-cell.gl-sm-12 {
  height: 100%; }

/* vertical alignment
 */
.gl-align-middle {
  vertical-align: middle; }

.gl-align-bottom {
  vertical-align: bottom; }

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
@import  'vars';
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #6c4892;
  text-shadow: none;
  color: #ffffff; }

::selection {
  background: #6c4892;
  text-shadow: none;
  color: #ffffff; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  font-family: "Titillium Web", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #333333;
  background-color: #ffffff; }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: rgba(165, 122, 211, 0.5);
  padding: 5px; }

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px; }

a {
  color: #6c4892;
  text-decoration: none; }

a:hover,
a:focus {
  color: #9f80c0;
  text-decoration: underline; }

a:focus {
  outline: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

figure {
  margin: 0; }

img {
  vertical-align: middle; }

@media screen and (min-width: 48em) {
  .dmbs-container {
    margin-top: 20px; } }

.container {
  margin-right: auto;
  margin-left: auto; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }
  .container {
    zoom: 1; }
  @media screen and (min-width: 48em) {
    .container {
      width: 750px; } }
  @media screen and (min-width: 62em) {
    .container {
      width: 970px; } }
  @media screen and (min-width: 75em) {
    .container {
      width: 1000px; } }

.navbar-inverse {
  background-color: #ffffff; }
  .navbar-inverse .navbar-nav > li > a {
    color: #6c4892; }
    .navbar-inverse .navbar-nav > li > a:hover {
      color: #9f80c0; }
    @media screen and (max-width: 47.99em) {
      .navbar-inverse .navbar-nav > li > a {
        color: #9f80c0; }
        .navbar-inverse .navbar-nav > li > a:hover {
          color: #fff; } }
  @media screen and (max-width: 47.99em) {
    .navbar-inverse {
      background-color: #6c4892; } }

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #6c4892;
  background-color: transparent;
  border-bottom: 4px solid #6c4892;
  padding-bottom: 5px; }
  @media screen and (max-width: 47.99em) {
    .navbar-inverse .navbar-nav > .active > a,
    .navbar-inverse .navbar-nav > .active > a:hover,
    .navbar-inverse .navbar-nav > .active > a:focus {
      color: #fff; } }

@media screen and (min-width: 48em) {
  .logo {
    width: 300px;
    height: 50px;
    position: relative;
    float: left;
    background-image: url(../img/logo.svg); }
    .logo:before, .logo:after {
      content: "";
      display: table; }
    .logo:after {
      clear: both; }
    .logo {
      zoom: 1; }
    .no-svg .logo {
      background-image: url(../img/logo.png); } }
    @media only screen and (min-width: 48em) and (-moz-min-device-pixel-ratio: 1.5), only screen and (min-width: 48em) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-width: 48em) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-width: 48em) and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo {
        background-image: url(../img/logo@2x.png); } }

@media screen and (max-width: 47.99em) {
  .logo {
    width: 54px;
    margin-top: 2px;
    height: 54px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 4px;
    float: left;
    margin-left: 20px;
    background-color: #ffffff;
    background-image: url(../img/logo.svg);
    -webkit-box-shadow: 0 0 3px 0 #000;
    box-shadow: 0 0 3px 0 #000; }
    .no-svg .logo {
      background-image: url(../img/logo.png); } }
    @media only screen and (max-width: 47.99em) and (-moz-min-device-pixel-ratio: 1.5), only screen and (max-width: 47.99em) and (-o-min-device-pixel-ratio: 3 / 2), only screen and (max-width: 47.99em) and (-webkit-min-device-pixel-ratio: 1.5), only screen and (max-width: 47.99em) and (min-device-pixel-ratio: 1.5) {
      .no-svg .logo {
        background-image: url(../img/logo@2x.png); } }

.navbar {
  position: relative;
  margin-bottom: 20px;
  border: 1px solid transparent; }
  .navbar:before, .navbar:after {
    content: "";
    display: table; }
  .navbar:after {
    clear: both; }
  .navbar {
    zoom: 1; }
  @media screen and (min-width: 48em) {
    .navbar {
      border-radius: 4px; } }
  @media screen and (max-width: 47.99em) {
    .navbar {
      margin-bottom: 0; } }

.navbar-collapse {
  overflow-x: visible;
  -webkit-overflow-scrolling: touch; }
  @media screen and (min-width: 48em) {
    .navbar-collapse {
      width: auto;
      border-top: 0;
      box-shadow: none; } }
  @media screen and (min-width: 48em) {
    .navbar-collapse .collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important; } }
  @media screen and (max-width: 47.99em) {
    .navbar-collapse .collapse {
      overflow-x: hidden;
      background-color: #6c4892;
      position: relative;
      z-index: 10; } }
  .navbar-collapse .collapse .in {
    overflow-y: auto; }
    @media screen and (min-width: 48em) {
      .navbar-collapse .collapse .in {
        overflow-y: visible; } }

.collapse {
  display: none; }
  @media screen and (min-width: 48em) {
    .collapse {
      display: block; } }
  .collapse.in {
    display: block; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease; }

@media screen and (min-width: 48em) {
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0; } }

nav .container {
  padding: 0; }

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px; }
  .container > .navbar-header:before, .container > .navbar-header:after,
  .container-fluid > .navbar-header:before,
  .container-fluid > .navbar-header:after,
  .container > .navbar-collapse:before,
  .container > .navbar-collapse:after,
  .container-fluid > .navbar-collapse:before,
  .container-fluid > .navbar-collapse:after {
    content: "";
    display: table; }
  .container > .navbar-header:after,
  .container-fluid > .navbar-header:after,
  .container > .navbar-collapse:after,
  .container-fluid > .navbar-collapse:after {
    clear: both; }
  .container > .navbar-header,
  .container-fluid > .navbar-header,
  .container > .navbar-collapse,
  .container-fluid > .navbar-collapse {
    zoom: 1; }
  @media screen and (min-width: 48em) {
    .container > .navbar-header,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container-fluid > .navbar-collapse {
      margin-right: 0;
      margin-left: 0; } }

@media screen and (min-width: 48em) {
  .navbar-header {
    float: left; } }

.navbar-nav {
  margin: 7.5px -15px 0;
  padding-left: 0;
  list-style: outside none none;
  z-index: 10;
  position: relative; }
  .navbar-nav > li {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: block;
    z-index: 10; }
    .navbar-nav > li > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 25px;
      padding: 10px 15px;
      outline: 0 none;
      text-decoration: none;
      display: block; }
  @media screen and (min-width: 48em) {
    .navbar-nav {
      float: right;
      margin: 1px; }
      .navbar-nav > li {
        text-transform: uppercase;
        font-weight: bold;
        float: left; } }

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: outside none none;
  z-index: 10;
  position: relative; }
  .nav > li {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: block;
    z-index: 10; }
    .nav > li > a {
      padding: 10px 15px;
      outline: 0 none;
      text-decoration: none; }

.sponsorowane-left, .wspolpraca-left, .widget {
  position: relative;
  height: 100%;
  padding: 0; }
  .sponsorowane-left h3, .wspolpraca-left h3, .widget h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px; }
  @media screen and (max-width: 47.99em) {
    .sponsorowane-left, .wspolpraca-left, .widget {
      display: none; } }

.widget h3 {
  margin-top: 0; }

.sponsorowane, .wspolpraca {
  margin-top: 20px;
  width: 80%; }
  .sponsorowane img, .wspolpraca img {
    opacity: 0.7;
    width: 100%;
    height: auto; }
    .sponsorowane img:hover, .wspolpraca img:hover {
      opacity: 1;
      filter: alpha(opacity=100); }

.dmbs-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  padding: 10px 0 5px;
  margin-top: 15px;
  border-bottom: 5px solid #6c4892; }
  .dmbs-footer:before, .dmbs-footer:after {
    content: "";
    display: table; }
  .dmbs-footer:after {
    clear: both; }
  .dmbs-footer {
    zoom: 1; }
  .dmbs-footer a {
    color: #333333; }

.footer-icons {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }
  .footer-icons div {
    position: relative;
    text-align: center;
    padding: 0.625em; }
    @media screen and (min-width: 48em) {
      .footer-icons div {
        right: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); } }
    .footer-icons div a i {
      font-size: 1.6em; }

.pwr {
  background-image: url(../img/pwr.svg);
  width: 64px;
  height: 93px;
  margin: 0 auto;
  opacity: 0.9; }
  .no-svg .pwr {
    background-image: url(../img/pwr.png); }
    @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
      .no-svg .pwr {
        background-image: url(../img/pwr@2x.png); } }
  .pwr:hover {
    opacity: 1;
    filter: alpha(opacity=100); }

@media screen and (max-width: 47.99em) {
  .mknm-footer {
    text-align: center; } }
.mknm-footer ul {
  padding: 0;
  margin: 10px 0 0;
  font-size: 0.875em; }
  .mknm-footer ul li {
    list-style: outside none none; }
  @media screen and (max-width: 47.99em) {
    .mknm-footer ul {
      text-align: center;
      padding-bottom: 15px; } }

.left {
  float: left; }

.text-right {
  text-align: right; }

.portfolio-content {
  overflow: hidden;
  display: block; }

.userpic {
  text-align: center; }
  .userpic img {
    width: 130px;
    height: 130px;
    background: #ffffff;
    -webkit-border-radius: 65px;
    -moz-border-radius: 65px;
    border-radius: 65px; }

.userinfo {
  text-align: center; }
  @media screen and (min-width: 48em) {
    .userinfo {
      text-align: left; } }
  .userinfo h2 {
    font-size: 3em;
    font-weight: 300;
    margin: 0; }
  .userinfo span {
    width: 100%;
    display: inline-block; }
  .userinfo a {
    padding: 0.313em;
    display: inline-block;
    color: #333333; }
    .userinfo a:first-of-type {
      padding-left: 0; }

.usercard {
  margin-top: 20px; }
  @media screen and (min-width: 48em) {
    .usercard {
      margin-top: 0; } }

[am-button] {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 0 2rem;
  padding: 0.8rem;
  border: 0;
  outline: 0;
  border-radius: 0.125em;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-tap-highlight-color: transparent;
  color: #333333; }
  [am-button]:hover {
    background: #cfcfcf; }
  [am-button][am-button~="raised"] {
    box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2), 0 0.2em 0.2em rgba(0, 0, 0, 0.2); }
    [am-button][am-button~="raised"]:active {
      box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.2), 0 0.6em 0.6em rgba(0, 0, 0, 0.2); }

svg.ink {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  svg.ink circle {
    fill: rgba(0, 0, 0, 0.2); }

[am-button~="disabled"],
[am-button~="disabled"]:hover,
[am-button~="disabled"]:focus {
  box-shadow: none;
  cursor: default;
  background: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26); }

a[am-button] {
  margin: 0.625em;
  width: auto;
  display: inline-block; }
  a[am-button]:hover, a[am-button]:active {
    text-decoration: none;
    color: #333333; }

.card {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin: 0.625em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }
  .card .title {
    font-weight: 400; }
  .card .excerpt {
    padding: 1.250em;
    font-weight: 300;
    border-radius: 0 0 0.125em 0.125em;
    height: 5.000em; }
    @media screen and (max-width: 61.99em) {
      .card .excerpt {
        height: 6em; } }
  .card p {
    margin: 0; }
  .card .action {
    border-top: 1px solid rgba(160, 160, 160, 0.2); }
    .card .action a[am-button] {
      margin-right: 1.250em;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: inherit;
      color: #565656; }
      .card .action a[am-button]:hover {
        color: #333333; }
  .card .image {
    position: relative;
    background-color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.5)));
    background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: -ms-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    background-image: linear-gradient(top, transparent, rgba(0, 0, 0, 0.5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='transparent', endColorStr='rgba(0, 0, 0, 0.5)');
    height: 13.750em;
    overflow: hidden;
    width: inherit; }
    @media screen and (min-width: 75em) {
      .card .image {
        height: 18.750em; } }
    @media screen and (min-width: 62em) {
      .card .image {
        height: 15.875em; } }
    .card .image img {
      border-radius: 0.125em 0.125em 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      height: auto; }
    .card .image .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.250em 1.250em 0.625em;
      color: #ffffff;
      margin: 0; }

.post-list-item {
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0.625em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 2px; }
  .post-list-item img {
    float: left; }
  .post-list-item .post-list-item-content {
    float: left;
    width: calc(100% - 151px);
    position: relative; }
    .post-list-item .post-list-item-content h2 {
      float: left;
      font-weight: 400;
      margin: 15px;
      width: 100%; }
    .post-list-item .post-list-item-content .excerpt {
      padding: 15px; }

label {
  cursor: pointer; }

.tabs > .tab {
  display: none; }
.tabs > input:nth-of-type(1):checked ~ .tab:nth-of-type(1) {
  display: block; }
.tabs > input:nth-of-type(1):checked ~ .tabs-nav > ul > li:nth-of-type(1) > label {
  border-bottom: 4px solid #6c4892;
  color: #333333; }
.tabs > input:nth-of-type(2):checked ~ .tab:nth-of-type(2) {
  display: block; }
.tabs > input:nth-of-type(2):checked ~ .tabs-nav > ul > li:nth-of-type(2) > label {
  border-bottom: 4px solid #6c4892;
  color: #333333; }
.tabs > input:nth-of-type(3):checked ~ .tab:nth-of-type(3) {
  display: block; }
.tabs > input:nth-of-type(3):checked ~ .tabs-nav > ul > li:nth-of-type(3) > label {
  border-bottom: 4px solid #6c4892;
  color: #333333; }
.tabs > input:nth-of-type(4):checked ~ .tab:nth-of-type(4) {
  display: block; }
.tabs > input:nth-of-type(4):checked ~ .tabs-nav > ul > li:nth-of-type(4) > label {
  border-bottom: 4px solid #6c4892;
  color: #333333; }
.tabs > input:nth-of-type(5):checked ~ .tab:nth-of-type(5) {
  display: block; }
.tabs > input:nth-of-type(5):checked ~ .tabs-nav > ul > li:nth-of-type(5) > label {
  border-bottom: 4px solid #6c4892;
  color: #333333; }
.tabs > input:nth-of-type(6):checked ~ .tab:nth-of-type(6) {
  display: block; }
.tabs > input:nth-of-type(6):checked ~ .tabs-nav > ul > li:nth-of-type(6) > label {
  border-bottom: 4px solid #6c4892;
  color: #333333; }
.tabs > input:nth-of-type(7):checked ~ .tab:nth-of-type(7) {
  display: block; }
.tabs > input:nth-of-type(7):checked ~ .tabs-nav > ul > li:nth-of-type(7) > label {
  border-bottom: 4px solid #6c4892;
  color: #333333; }
.tabs > input:nth-of-type(8):checked ~ .tab:nth-of-type(8) {
  display: block; }
.tabs > input:nth-of-type(8):checked ~ .tabs-nav > ul > li:nth-of-type(8) > label {
  border-bottom: 4px solid #6c4892;
  color: #333333; }
.tabs > input:nth-of-type(9):checked ~ .tab:nth-of-type(9) {
  display: block; }
.tabs > input:nth-of-type(9):checked ~ .tabs-nav > ul > li:nth-of-type(9) > label {
  border-bottom: 4px solid #6c4892;
  color: #333333; }
.tabs .tabs-nav {
  position: relative; }
  .tabs .tabs-nav > input ~ ul {
    height: 0;
    overflow: hidden; }
  .tabs .tabs-nav > input:checked ~ ul {
    height: auto;
    overflow: auto; }
  .tabs .tabs-nav > label {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 2em;
    left: 0;
    line-height: 2em;
    padding: 0 .5em;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    z-index: 1; }
  .tabs .tabs-nav > ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 2em 0 0 0;
    position: relative;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase; }
    .tabs .tabs-nav > ul > li {
      display: inline; }
      .tabs .tabs-nav > ul > li > label {
        display: block;
        height: 2em;
        line-height: 2em;
        color: #565656; }
.tabs .tabs-nav > input ~ ul, .tabs .tabs-nav > input:checked ~ ul {
  background: transparent;
  height: auto;
  overflow: auto; }
.tabs .tabs-nav > label {
  display: none; }
.tabs .tabs-nav > ul {
  padding: 0; }
  .tabs .tabs-nav > ul > li > label {
    display: inline-block;
    padding: 0.3em 1em; }

.github {
  margin: 0.625em; }

.lines-button {
  display: inline-block;
  margin: 0 1em;
  border: none;
  background: none;
  float: right; }
  .lines-button span {
    display: block; }
  @media screen and (min-width: 48em) {
    .lines-button {
      display: none; } }

.lines-button {
  padding: 1.5em 0.75em;
  transition: .3s;
  cursor: pointer;
  user-select: none; }
  .lines-button:hover {
    opacity: 1; }
  .lines-button:active {
    transition: 0; }

.lines {
  display: inline-block;
  width: 2.5em;
  height: 0.33333em;
  background: #ffffff;
  border-radius: 1em;
  transition: 0.3s;
  position: relative; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 2.5em;
    height: 0.33333em;
    background: #ffffff;
    border-radius: 1em;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    -webkit-transform-origin: 0.21429em center;
    transform-origin: 0.21429em center; }
  .lines:before {
    top: 0.75em; }
  .lines:after {
    top: -0.75em; }

.lines-button.close {
  -webkit-transform: scale3d(0.8, 0.8, 0.8);
  transform: scale3d(0.8, 0.8, 0.8); }

.lines-button.x.close .lines {
  background: transparent; }
  .lines-button.x.close .lines:before, .lines-button.x.close .lines:after {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    top: 0;
    width: 3em; }
  .lines-button.x.close .lines:before {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg); }
  .lines-button.x.close .lines:after {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg); }

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?6227052");
  src: url("../font/fontello.eot?6227052#iefix") format("embedded-opentype"), url("../font/fontello.woff?6227052") format("woff"), url("../font/fontello.ttf?6227052") format("truetype"), url("../font/fontello.svg?6227052#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?6227052#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-twitter:before {
  content: '\e800'; }

/* '' */
.icon-instagram:before {
  content: '\e801'; }

/* '' */
.icon-right-open-big:before {
  content: '\e802'; }

/* '' */
.icon-left-open-big:before {
  content: '\e803'; }

/* '' */
.icon-heart:before {
  content: '\e804'; }

/* '' */
.icon-github:before {
  content: '\e805'; }

/* '' */
.icon-archive:before {
  content: '\e806'; }

/* '' */
.icon-gplus:before {
  content: '\e807'; }

/* '' */
.icon-facebook:before {
  content: '\e808'; }

/* '' */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=main.css.map */
