// Change to watch in slow motion
// http://codepen.io/bennettfeely/pen/twbyA
.navicon-button {
  display: inline-block;
  position: relative;
  padding: 2.0625rem 0.625rem;
  @include transition($bezier);
  cursor: pointer;
  user-select: none;
  .navicon:before,
  .navicon:after {
    @include transition($bezier);
  }
}
.navicon {
  position: relative;
  width: 2em;
  height: 0.2rem;
  background: $text-color;
  @include transition($bezier);
  border-radius: 0.2rem;
  &:before,
  &:after {
    display: block;
    content: "";
    height: 0.2rem;
    width: 2rem;
    background: $text-color;
    position: absolute;
    z-index: -1;
    @include transition($bezier);
    border-radius: 0.2rem;
  }
  &:before {
    top: 0.625rem;
  }
  &:after {
    top: -.625rem;
  }
}
.open:not(.steps) .navicon:before,
.open:not(.steps) .navicon:after {
  top: 0 !important;
}
.open .navicon:before,
.open .navicon:after {
  @include transition($bezier);
}
/* × and + */
.open.x {
  .navicon {
    background: transparent;
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}
