.download-button-container {
    margin: 0 -30px;
    padding: 0 30px;
    border-top: $border-light;
}
// http://codepen.io/Tombek/pen/OPvpLe
/* Normalize */
ul,
dl {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-start: 0;
}
dd {
    -webkit-margin-start: 0;
}
/* Dropy style */
.dropy {
    position: relative;
    margin-bottom: 0;
}
.dropy__title {
    position: relative;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    @include transition($bezier);
}
.dropy__content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    z-index: 1;
    ul {
        overflow: hidden;
        @include border-radius($radius);
        max-height: 0;
        opacity: 0;
        padding: 0;
        @include transition($bezier);
        list-style: none;
        background: #ffffff;
        @include box-shadow;
    }
    a {
        display: block;
        color: $text-color;
        padding: 1rem 1.5rem;
        font-size: 1.4rem;
        text-decoration: none;
        cursor: pointer;
        @include transition($bezier);
        @include ellipsis;
        &:hover {
            color: $synergia-color;
            background-color: $grey-light;
        }
    }
    .dropy__header {
        border-bottom: 1px solid $grey;
        margin-bottom: 1.5rem;
        padding: 1rem 1.5rem;
        font-size: 1.6rem;
    }
    .selected {
        font-weight: 700 !important;
        color: $synergia-color;
    }
}
.dropy.open {
    .dropy__content ul {
        max-height: 17rem;
        overflow-y: auto;
        opacity: 1;
    }
}
