/* Colors */
// http://codepen.io/Tombek/pen/OPvpLe
$black: #464646;
$lightGray: #cccccc;
$gray: #868686;
$darkGray: #666666;
$white: #fafafa;
$darkWhite: #eeeeee;

/* Normalize */
ul, dl{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
}
dd{
  -webkit-margin-start: 0;
}

/* Dropy style */
.dropy{
  position: relative;
	width: 100%;
}

.dropy__title{
  position: relative;
  display: block;
  text-decoration: none;
  cursor: pointer;
  @include transition($bezier);
  border-bottom: 4px solid $shadowlight;
  color: $cardbutton-color;
  &:hover{
    border-color: $synergia-color-light;
    color: $text-color;
  }
}

.dropy__content{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;

  ul{
    z-index: 1;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    @include border-radius(0.125em);
    max-height: 0;
    opacity: 0;
    padding: 0;
    @include transition($bezier);

    list-style: none;
    background: $white;
    @include box-shadow;
    li:first-child a:hover{
      @include border-radius(0.125em);
    }
    li:last-child a{
      // margin-bottom: 1.5rem;
      &:hover{
        @include border-radius(0.125em);
      }
    }
  }
  li a{
    display: block;
    padding: 1rem 1.5rem;
    font-size: 1.4rem;

    color: $cardbutton-color;
    text-decoration: none;
    cursor: pointer;
    @include transition($bezier);

    &:hover{
      color: $darkGray;
      background-color: $darkWhite;
    }
  }
  .dropy__header{
    border-bottom: 1px solid $shadowlight;
    margin-bottom: 1.5rem;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
  }
  .selected{
    font-weight: 700 !important;
    color: $synergia-color;
  }
}
.dropy.open{
  .dropy__content ul{
    max-height: 17rem;
    overflow-y: auto;
    opacity: 1;
  }
}
