.gh {
    display: flex;
    white-space: nowrap;
    flex-flow: column nowrap;
    align-items: flex-start;
    height: 45px;
    @include transition($bezier);
    &__name {
        margin: 0;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1;
        display: flex;
        align-items: baseline;
    }
    &__avatar {
        height: 24px;
        width: 24px;
        margin-right: 8px;
        @include border-radius($radius);

    }
}
