.link {
    // PODSTAWOWY //
    color: $synergia-color;
    text-decoration: none;
    @include transition($bezier);
    &:hover {
        color: $synergia-color-light;
        text-decoration: underline;
        text-decoration: none;
    }
    &:focus {
        outline: none;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
    // MODYFIKATORY //
    &--logo {
        @include background-image('logo');
        display: block;
        width: 50px;
        height: 50px;
        @include mq($from:tablet) {
            width: 300px;
            height: 50px;
        }
    }
    &--project {
        color: #ffffff;
        &:hover {
            text-shadow: 0 0 2px #FFFFFF;
            color: #ffffff;
        }
    }
    &--name {
        color: $text-color;
        text-decoration: none;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        &:hover {
            color: $text-color;
        }
    }
    &--social {
        color: $text-color;
    }
}
