.spinner {
    border: 3px solid $synergia-grey-color;
    border-right-color: transparent;
    border-radius: 50%;
    height: 15px;
    left: 50%;
    margin: -23px 0 0 -23px;
    position: absolute;
    top: 50%;
    width: 15px;
	animation: spinner 1s linear 0s infinite;
	display: none;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
