.map {
	position: relative;
    &__container {
        position: relative;
        width: 100%;
        height: 25rem;
        background-color: $grey;
    }
    &__zoomIn {
        @include transition($bezier);
        height: 50px;
        width: 50px;
        cursor: pointer;
        margin: 20px 30px 5px;
        @include border-radius($radius);
        font-size: 2.24rem;
        text-align: center;
    }
    &__zoomOut {
        @extend .map__zoomIn;
        margin-top: 0;
    }
	// &__adress {
	// 	position: absolute;
	// 	top: 20px;
	// 	right: 20px;
	// 	background-color: #fff;
	// 	font-style: normal;
	// 	width: 400px;
	// 	height: 85px;
	// 	padding: 10px;
	// 	@include border-radius($radius);
	// }
}
.no-touch &:hover {
    // background-color: rgba($color-2, 1);
}
