.avatar {
    object-fit: cover;
    width: 128px;
    height: 128px;
    @include circle(128px, #ffffff);
}
.counter {
    line-height: 1.2;
    width: 50%;
    text-align: center;
    position: relative;
    font-size: 2.3rem;
    font-weight: 100;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    &:first-of-type {
        border-right: $border-light;
    }
    &__label {
        padding: 0 10px;
        font-size: 0.8rem;
    }
}
.membercard {
    box-sizing: border-box;
    margin: 10px;
    width: 235px;
    height: 350px;
    // padding: 25px 20px;
    display: flex;
    position: relative;
    align-items: center;
    flex-flow: column nowrap;
    background-color: #ffffff;
    border: $border-light;
    overflow: hidden;
    @include border-radius($radius);
    @include transition($bezier);
    transform: translateZ(0);
    &--full {
        height: auto;

        z-index: 7;


    }
    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        display: none;
        &--visible {
            display: block;
        }
    }
    &__avatar {
        overflow: hidden;
        margin: 25px 0 0;
        width: 100%;
        text-align: center;
        &--full {
            position: absolute;
            left:0;
        }
    }
    &__info {
        text-align: center;
        width: calc(100% - 10px);
        overflow: hidden;
        &--full {
            margin-left: 25px;
            width: auto;
            text-align: left;
        }
    }
    &__socialLinks {
        margin: 10px 0;
    }
    &__name {
        text-align: center;
        margin:20px 0 0;
        font-size: 1.7rem;
        font-weight: 400;
        // height: 42px;
        &--full {
            font-size: 3rem;
            font-weight: 300;
        }
        &--tooLong {
            text-align: justify;
            display: block;
            // Nie wygląda to najlepiej, ale niech już będzie
            &:hover > .link {
                @include transition($bezier) ;
                // Gdy imie jest za długie
                margin-left: calc( 100% - 245px);
            }
        }
    }
    &__status {
        font-weight: 300;
        font-size: 1em;
        // font-style: italic;
        line-height: 1;
    }
    &__counter {
        margin-top: 15px;
        display: flex;
        position: relative;
        justify-content: space-between;
        width: 100%;
    }
}
