
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
    @include transition($bezier);
    &__overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($synergia-grey-color, 0.6);
        z-index: 0;
    }
    &__body {
        position: relative;
        max-width: 600px;
        margin: 0 auto;
        top: 25%;
        transform: translateY(-25%);
        @extend .orgs;
    }
    &__topbar {
        position: relative;
        border-bottom: $border-light;
        text-align: center;
        overflow: hidden;
        padding: 0.8rem;
    }
    &__title {
        text-align: center;
        text-transform: uppercase;
        color: $text-color-light;
        margin: 0;
    }
    &__close {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.6rem;
        color: $text-color-light;
        cursor: pointer;
        @include transition($bezier);
        &:hover {
            color: $alizarin;
        }
    }
    &__container {
        position: relative;
        padding: 10px;
        display: flex;
        align-items: flex-start;
    }
    &__image {
        height: auto;
        width: 200px;
        position: relative;
        margin-right: 10px;
    }
    &__content {
        width: 360px;

    }
}
