.tabsMenu {
    width: 100%;
    display: flex;
    justify-content: center;
    clear: both;
    list-style: none;
    padding-left: 0;
    margin: 10px;
    &__item {
        display: flex;
        justify-content: center;
        float: left;
        border: $border-light;
        border-right: 0;
        background-color: #fff;
        min-width: 100px;
        @include transition($bezier);
        &:hover {
            background-color: $grey-light;
        }
        &:first-of-type {
            border-top-left-radius: $radius;
            border-bottom-left-radius: $radius;
        }
        &:last-of-type {
            border-top-right-radius: $radius;
            border-bottom-right-radius: $radius;
            border-right: $border-light;
        }
        &--current {
            position: relative;
            background-color: $grey-light;
        }
    }
}
.tab {

    &__content {
        display: none;
        &--visible {
            display: block;
        }
        &--hidden {
            display: none;
        }
    }
}
