.tagWrapper {
    padding: 5px;
    // border: $border-light;
    @include border-radius($radius);
    display: inline-block;
}
.tagSize {
    &-1 {
        font-size: 1rem;
    }
    &-5 {
        font-size: 2rem;
    }
}
