// =========== General button styles & variables =======================================//
.lines-button {
    display: inline-block;
    margin: 0 1em;
    border: none;
    background: none;
    float: right;
    span {
        display: block;
    }
    @include mq($from:tablet){
        display: none;
    }
}
$color : #ffffff;
$transition: .3s;// increase this to see the transformations happen in slow motion

// ====================== lines button ==================================================

$button-size : 3em;
//common to all three-liners
.lines-button {
  padding: $button-size/2 $button-size/4;
  transition: .3s;
  cursor: pointer;
  user-select: none;
//  border-radius: $button-size/7;

  &:hover {
    opacity: 1;
  }
  &:active {
    transition: 0;
  }
}
//common to all three-liners
@mixin line {
  display: inline-block;
  width: $button-size/1.2;
  height: $button-size/9;
  background: $color;
  border-radius: $button-size/3;
  transition: $transition;
}
//common to all three-liners
.lines {
  @include line;
  position: relative;

  &:before, &:after {
   @include line;
    position: absolute;
    left:0;
    content: '';
    -webkit-transform-origin: $button-size/14 center;
            transform-origin: $button-size/14 center;
  }
  &:before {
    top: $button-size/4;
  }
  &:after {
    top: -$button-size/4;
  }
}

.lines-button.close {
  -webkit-transform: scale3d(.8,.8,.8);
          transform: scale3d(.8,.8,.8);
}

//three-lines to x
.lines-button.x.close{
  .lines {
    background: transparent;
    &:before, &:after{
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
      top:0;
      width: $button-size;
    }
    &:before{
      -webkit-transform: rotate3d(0,0,1,45deg);
              transform: rotate3d(0,0,1,45deg);
    }
    &:after{
      -webkit-transform: rotate3d(0,0,1,-45deg);
              transform: rotate3d(0,0,1,-45deg);
    }
  }
}
