	.project-content {
		@include box-shadow;
		@include border-radius(2px);
		margin: 0.625em;
		overflow: hidden;
		// http://stackoverflow.com/a/26921844
		.center-cropped {
			width: 100%;
			height: auto;
			overflow: hidden;
			position: relative;
			@include background-gradient(transparent, rgba(0, 0, 0, 0.5));
			@include mq($from: desktop) {
				height: 25em;
			}
			.wp-post-image {
				height: auto;
				min-width: 100%;
				left: 50%;
				position: relative;
				transform: translateX(-50%);
				width: 100%;
				top: -25%;
				z-index: -1;
			}
			.project-title {
				position: absolute;
				bottom: 0;
				left: 0;
				padding: 1.250em 1.250em 0.625em;
				margin: 0;
				font-weight: 400;
				font-size: 2.5em;
				color: #ffffff;
			}
		}
		.userpic-project {
			float: left;
			margin: 0.313em;
			margin-right: 10px;
			img {
				@include circle(50px, #ffffff);
			}
		}
		.meta-stuff {
			display: block;
			width: 100%;
			padding: 10px 0 10px 0;
			overflow: hidden;
			.co-author {
				float: left;
				padding: 5px;
				h3 {
					float: left;
					margin: 0;
					font-weight: 400;
					font-size: 1.5em;
					a {
						color: $text-color;
						text-decoration: none;
					}

				}
			}
		}
	}
