// http://www.cssscript.com/accessible-fullscreen-modal-popup-with-pure-css-css3/
.modal {
  display: block;
  float: right;
  @include mq($until:tablet) {
    float: left;
  }
  & > {
    label {
      background: $synergia-color;
      color: #fff;
      font-weight: bold;
      margin: 0 1em;
      width: auto;
      @include mq($until:tablet) {
        background: #fff;
        color: $synergia-color;
        margin-top: 3px;
      }
      span {
        display: inline;
        @include mq($until:desktop) {
          display: none;
        }
      }
      &:hover {
        background: $synergia-light-color;
      }
    }
  }
  input {
    display: none;
  }
}
.modal-background {
  background: black;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: -800;
  background-size: cover;
  label {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    font-size: 2em;
    width: 2em;
    text-shadow: 0 1px 2px $text-color;
    @include transition;
    &:hover {
      text-shadow: 0 0 3px #fff;
    }
    @include mq($until:tablet) {
      height: 1em;
      width: 1em;
      line-height: 1em;
      font-size: 3em;
    }
  }
}
.modal__box {
  padding: 1em 0.75em;
  position: relative;
  margin: 1em auto;
  width: 90%;
  color: #fff;
  @include mq($until:tablet) {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -80%);
    -ms-transform: translate(-50%, -80%);
    transform: translate(-50%, -80%);
  }
  @include mq($from:desktop) {
    .modal__box {
      padding: 1.75em;
    }
    h1 {
      font-weight: 900;
      text-transform: uppercase;
      font-size: 6em;
      margin: 0.8em 0 0;
      line-height: 0.7em;
    }
    span {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 1.445em;
    }

  }
}
.modal-background {
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  @include transition;
}
input:checked ~ .modal-background {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  z-index: 800;
}
input:focus + label {
  -webkit-transform: scale(0.97);
  -ms-transform: scale(0.97);
  transform: scale(0.97);
}
#close_banner {
  z-index: 3;
}
.info-container {
  width: 500px;
  position: relative;
  margin: 1em auto;
  i {
    font-size: 6em;
  }
  span {
    width: 100%;
    text-align: center;
    position: relative;
    float: left;
  }
  .date {
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 8%;
      height: 75%;
      z-index: 1;
      width: 1px;
      /* or 100px */
      border-left: 1px solid rgba(255, 255, 255, 0.2);
    }
  }
  .location {
    overflow: hidden;
  }
}
.fb {
  display: table;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  div {
    display: inline;
    margin: 0px auto;
  }


  i {
    font-size: 1.5em;
  }
  a {
    color: #fff;
    font-size: 1.1em;
    line-height: 1em;
    height: 1em;
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }
}
