//FONTS
$synergia-fontstack: "Titillium Web", Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.4;

//COLORS
$text-color: #333333;
$background-color: #ffffff;
$synergia-color: #6c4892;
$synergia-light-color:lighten($synergia-color, 20%);

//BUTTON
// http://codepen.io/jreece/pen/myeJBN
$shadowlight: rgba(black, 0.2);
$shadowdark: rgba(black, 0.6);
$bezier: cubic-bezier(.4,0,.2,1);

//LOGO
$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

//OTHER
$container-width: 1000px;

//IMAGES
$image-opacity: 0.7;
