//FONTS
$synergia-fontstack: "Titillium Web", Helvetica, Arial, sans-serif;
$font-size: 16px;
$line-height: 1.4;

//COLORS
$text-color: #444444;
$background-color: #ffffff;
$synergia-color: #6c4892;
$synergia-light-color:lighten($synergia-color, 20%);

//LOGO
$image-path: '../img' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';

//OTHER
$container-width: 1000px;
