.links-panel .description {
  display: none;
}

.links-panel label {
  display: block;
  font-weight: bold;
  margin: 6px;
  margin-bottom: 0;
  margin-top: 12px;
}

.links-panel label span {
  display: inline;
  font-weight: normal;
}

.links-panel span {
  color: #999;
  display: block;
}

.links-panel textarea,
.links-panel input[type='text'] {
  margin-bottom: 3px;
  width: 100%;
}

.links-panel h4 {
  color: #999;
  font-size: 1em;
  margin: 15px 6px;
  text-transform:uppercase;
}
