@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700,300,400italic&subset=latin,latin-ext);
@import 'mq';
@import 'vars';
@import 'mixins';
@import 'normalize';
@import 'gridlayout';
@import 'html5boiler';

//==========================================================================
//   Synergia custom styles
//==========================================================================

body {
  font-family: $synergia-fontstack;

  //    font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $background-color;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  background-color: rgba(165, 122, 211, 0.5);
  padding: 5px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}

a {
  color: $synergia-color;
  text-decoration: none;
}

a:hover,
a:focus {
  color: $synergia-light-color;
  text-decoration: underline;
}

a:focus {
  outline: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

figure {
  margin: 0;
}

img {
  vertical-align: middle;
}

.dmbs-container {
  @include mq($from: tablet) {
    margin-top: 20px;
  }
}

.container {
  @include clearfix;
  margin-right: auto;
  margin-left: auto;

  @include mq($from: tablet) {
    width: 750px;
  }

  @include mq($from: desktop) {
    width: 970px;
  }

  @include mq($from: wide) {
    width: $container-width;
  }
}

.navbar-inverse {
  background-color: $background-color;

  .navbar-nav {
    > li {
      > a {
        color: $synergia-color;

        &:hover {
          color: $synergia-light-color;
        }

        @include mq($until: tablet) {
          color: $synergia-light-color;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  @include mq($until: tablet) {
    background-color: $synergia-color;
  }
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  @include mq($until: tablet) {
    color: #fff;
  }
  color: $synergia-color;
  background-color: transparent;
  border-bottom: 4px solid $synergia-color;
  padding-bottom: 5px;
}

.logo {
  @include mq($from: tablet) {
    width: 300px;
    height: 50px;
    position: relative;
    float: left;
    @include clearfix;
    @include background-image('logo');
  }

  @include mq($until: tablet) {
    width: 54px;
    margin-top: 2px;
    height: 54px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 4px;
    float: left;
    margin-left: 20px;
    background-color: $background-color;
    @include background-image('logo');
    -webkit-box-shadow: 0 0 3px 0 #000;
    box-shadow: 0 0 3px 0 #000;
  }
}

.navbar {
  position: relative;

  //    height: 56px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  @include clearfix;

  @include mq($from: tablet) {
    border-radius: 4px;
  }

  @include mq($until: tablet) {
    margin-bottom: 0;
  }
}

.navbar-collapse {
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;

  @include mq($from: tablet) {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .collapse {
    @include mq($from: tablet) {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }

    @include mq($until: tablet) {
      overflow-x: hidden;
      background-color: $synergia-color;
      position: relative;
      z-index: 10;
    }

    .in {
      overflow-y: auto;

      @include mq($from: tablet) {
        overflow-y: visible;
      }
    }
  }
}

.collapse {
  @include mq($from: tablet) {
    display: block;
  }
  display: none;

  &.in {
    display: block;
  }
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  @include mq($from: tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}

nav {
  .container {
    padding: 0;
  }
}

.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
  @include clearfix;

  @include mq($from: tablet) {
    margin-right: 0;
    margin-left: 0;
  }
}

.navbar-header {
  @include mq($from: tablet) {
    float: left;
  }
}

.navbar-nav {
  margin: 7.5px -15px 0;
  padding-left: 0;
  list-style: outside none none;
  z-index: 10;
  position: relative;

  > li {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: block;
    z-index: 10;

    > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 25px;
      padding: 10px 15px;
      outline: 0 none;
      text-decoration: none;
      display: block;
    }
  }

  @include mq($from: tablet) {
    float: right;
    margin: 1px;

    > li {
      text-transform: uppercase;
      font-weight: bold;
      float: left;

      > a {

        //                padding-top: 15px;
        //                padding-bottom: 15px;
      }
    }
  }
}

.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: outside none none;
  z-index: 10;
  position: relative;

  > li {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: block;
    z-index: 10;

    > a {
      padding: 10px 15px;
      outline: 0 none;
      text-decoration: none;
    }
  }
}

.sponsorowane-left {
  position: relative;
  height: 100%;
  padding: 0;

  h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
  }

  @include mq($until:tablet) {
    display: none;
  }
}

.wspolpraca-left {
  @extend .sponsorowane-left;
}

.widget {
  @extend .wspolpraca-left;

  h3 {
    margin-top: 0;
  }
}

.sponsorowane {
  margin-top: 20px;
  width: 80%;

  img {
    opacity: $image-opacity;
    width: 100%;
    height: auto;

    &:hover {
      opacity: 1;
      filter:alpha(opacity=100); // For IE8 and earlier
    }
  }
}

.wspolpraca {
  @extend .sponsorowane;
}

.dmbs-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  padding: 10px 0 5px;
  margin-top: 15px;
  border-bottom: 5px solid $synergia-color;
  @include clearfix;

  a {
    color: $text-color;
  }
}

.footer-icons {
  @include preserve-3d;

  div {
    position: relative;
    text-align: center;
    padding: 0.625em;

    @include mq($from:tablet) {
      right: 0;
      @include vertical-align(absolute);
    }

    a {
      i {
        font-size: 1.6em;
      }
    }
  }
}

.pwr {
  @include background-image('pwr');
  width: 64px;
  height: 93px;
  margin: 0 auto;
  opacity: 0.9;

  &:hover {
    opacity: 1;
    filter:alpha(opacity=100); // For IE8 and earlier
  }
}

.mknm-footer {
  @include mq($until: tablet) {
    text-align: center;
  }

  ul {
    padding: 0;
    margin: 10px 0 0;
    font-size: 0.875em;

    li {
      list-style: outside none none;
    }

    @include mq($until:tablet) {
      text-align: center;
      padding-bottom: 15px;
    }
  }
}

.left {
  float: left;
}

.text-right {
  text-align: right;
}

.portfolio-content {
  overflow: hidden;
  display: block;
}
@import 'author';
@import 'ui';
@import 'burger';
@import 'icons';
@import 'html5plate';
