@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,700,300,400italic&subset=latin,latin-ext);
@import 'vars';
@import 'mixins';
@import 'normalize';
@import 'gridlayout';
@import 'html5boiler';
/* ==========================================================================
   Synergia custom styles
   ========================================================================== */
body {
    font-family: $synergia-fontstack;
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
    background-color: $background-color;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    background-color: rgba(165, 122, 211, 0.5);
    padding: 5px;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
}
a {
    color: $synergia-color;
    text-decoration: none;
}

a:hover,
a:focus {
    color: $synergia-light-color;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

figure {
    margin: 0;
}

img {
    vertical-align: middle;
}
.dmbs-container {
    @media (min-width: 768px){
        margin-top: 20px;
    }
}
.container {
    @include clearfix;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: $container-width;
    }
}
.navbar-inverse {
    background-color: $background-color;
    .navbar-toggle {
        border-color: $synergia-color;
        .icon-bar {
            background-color: $background-color;
        }
    }
    .navbar-nav {
        > li {
            > a {
                color: $synergia-color;
            }
        }
    }
    @media (max-width: 767px) {
        background-color: $synergia-color;
    }
}
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        + .icon-bar {
            margin-top: 4px;
        }
    }
    @media (min-width: 768px) {
        display: none;
    }
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    border: 0px none;
}

.logo {
    @media (min-width: 768px) {
        width: 300px;
        height: 50px;
        position: relative;
        float: left;
        @include clearfix;
        @include background-image('logo');
    }
}

.navbar {
    position: relative;
    height: 56px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    @include clearfix;
    @media (min-width: 768px) {
        border-radius: 4px;
    }
    @media (max-width: 767px) {
        margin-bottom: 0;
    }
}
.navbar-collapse {
    overflow-x: visible;
    @media (min-width: 768px) {
        width: auto;
        border-top: 0;
        box-shadow: none;
    }
    .collapse {
        display: none;
        @media (min-width: 768px) {
            display: block !important;
            height: auto !important;
            padding-bottom: 0;
            overflow: visible !important;
        }
        .in {
            @media (min-width: 768px) {
                overflow-y: visible;
            }
        }
    }
}
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
    @media (min-width: 768px) {
        padding-left: 0;
        padding-right: 0;
    }
}
nav {
    .container {
        padding: 0;
    }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse  {
    margin-right: -15px;
    margin-left: -15px;
    @include clearfix;
    @media (min-width: 768px){
        margin-right: 0;
        margin-left: 0;
    }
}
.navbar-header {
    float: left;
}
.navbar-nav {
        margin-bottom: 0px;
    padding-left: 0px;
    list-style: outside none none;
    z-index: 10;
    position: relative;
    > li {
                text-align: center;
        text-transform: uppercase;
        position: relative;
        display: block;
        z-index: 10;
        > a {
            padding-top: 10px;
            padding-bottom: 10px;
            line-height: 20px;
            padding: 10px 15px;
            outline: 0px none;
            text-decoration: none;
        }
    }
    @media (min-width: 768px) {
        float: right;
        margin: 1px;
        > li {
            text-transform: uppercase;
            font-weight: bold;
            float: left;
            > a {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
}
.nav {
    margin-bottom: 0px;
    padding-left: 0px;
    list-style: outside none none;
    z-index: 10;
    position: relative;
    > li {
        text-align: center;
        text-transform: uppercase;
        position: relative;
        display: block;
        z-index: 10;
        > a {
            padding: 10px 15px;
            outline: 0px none;
            text-decoration: none;
        }
    }
}
@import 'html5plate';
