.about {
    box-sizing: border-box;
    background-color: #fff;
    border: $border-light;
    @include border-radius($radius);
    margin-top: 50%;
    @include mq($from:tablet) {
        margin-top: 400px;
    }
    &__header {
        height: auto;
        max-height: 500px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
    }
    &__overimage {
        content: '';
        width: 100%;
        height: auto;
        &::after {
            content: "";
            background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIHWNgYGB4/P//fwZGEAECAEVMBt9tNvSUAAAAAElFTkSuQmCC");
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }
    }
    &__featuredimg {
        @extend .project__featuredimg;
    }
    &__content {
        @extend .project__content;
    }
}
.counters {
    @extend .cardsWrapper;
    z-index: 3;
    border-bottom: $border-light;
    @include mq($from:wide) {
        justify-content: center;
        border: none;
        margin-top: -50px;
    }
    @include mq($until:tablet) {
        flex-flow: wrap;
    }
    &__counter {
        box-sizing: border-box;
        background-color: #fff;
        width: 25%;
        min-width: 150px;
        font-size: 4rem;
        line-height: 1;
        font-weight: 300;
        color: $text-color;
        text-align: center;
        height: 170px;
        display: flex;
        flex-flow: column nowrap;
        // align-items: center;
        // justify-content: center;
        position: relative;
        padding-top: 25px;
        @include mq($from:wide) {
            margin: 10px;
            width: 219.5px; // przepraszam
            @include border-radius($radius);
            border: $border-light;
        }
    }
    &__label {
        font-size: 1.1rem;
        font-weight: 400;
        width: 150px;
        margin: 0 auto;
    }
    &__count {
        position: relative;
        &:after {
            content: '';
            display: block;
            background: $text-color-light;
            height: 4px;
            max-width: 150px;
            width: 50%;
            margin: 10px auto;
        }
    }
}
