.memberInfo {
    position: relative;

    margin: 10px;
    overflow: hidden;
    border: $border-light;
    @include border-radius($radius);
    z-index: 1;
    animation: fadeIn .5s $bezier forwards;
    &__nameWrapper {
        display: flex;
        justify-content: flex-start;
        align-items: baseline;
        position: absolute;
        bottom: 0;
        left: 180px;

    }
    &__status {
        margin-left: 180px;
        margin-top: 5px;
        display: block;
        font-size: 1.03rem;
    }
    &__social {
        margin: 5px 10px;
    }
    &__avatar {
        height: 128px;
        width:128px;
        margin-top: 30px;
        display: inline-block;
        border: 5px solid #fff;
        border-radius: 100%;
        background-color: #fff;
    }
    &__name {
        font-size: 2.5em;
        line-height: 1.3;
        font-weight: 300;
        margin: 0;
        color: #fff;
    }
}

.violetWrapper {
    background-color: $synergia-color;
    width: 100%;
    height: 80px;
    padding: 20px;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    position: relative;
}
.whiteWrapper {
    background-color: #fff;
    width: 100%;
    height: 80px;
}


.usercard {
    margin-top: 20px;
}
.post-list {
    @include mq($from: tablet) {
        // margin: 0 -10px;
    }
}
.post-list-item {
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 0.625em;
    @include box-shadow;
    @include border-radius(0.125em);
    .thumb {
        position: relative;
        overflow: hidden;
        float: left;
        height: 150px;
        width: 150px;
        // object-fit: cover;
        time {
            position: absolute;
            font-weight: 600;
            display: block;
            @include opacity(0);
            width: 100%;
            text-align: center;
            height: 150px;
            line-height: 150px;
            color: #ffffff;
            @include transition($bezier);
        }
    }
    &:hover .thumb time {
        @include opacity(1);
        background-color: rgba(108, 72, 146, 0.7);
    }
    img {
        float: left;
    }
    .post-list-item-content {
        float: left;
        width: calc(100% - 165px);
        position: relative;
        padding-left: 15px;
        h2 {
            float: left;
            font-weight: 400;
            width: 100%;
            display: inline;
            @include mq($until:tablet) {
                margin: 10px 0;
            }
        }
        .excerpt {
            padding: 0 15px 0 0;
            @include mq($until:mobile) {
                display: none;
            }
        }
    }
}
.crown {
    position: absolute;
    font-size: 3em;
    right: 31px;
    top: -25px;
    color: gold;
    text-shadow: 0 2px 3px rgba(0,0,0,0.5);
    @include mq($from:desktop) {
        right: 12px;
    }
    @include mq($until:tablet) {
        right: -11px;
    }
}
.no-projects {
    // font-style: italic;
    font-size: 3em;
    color: $grey;
    text-align: center;
    font-weight: 600;
}
.memberOverlay {
    padding-top: 90px;
    position: fixed;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background-color: $background-color;
    z-index: 3;
    visibility: hidden;
    opacity: 0;
    @include transition($bezier);
    &--visible {
        opacity: 1;
        visibility: visible;
    }
}
