//BUTTON
// http://codepen.io/jreece/pen/myeJBN
.button {
  display: block;
  cursor: pointer;
  position: relative;
  width: 100%;
  margin: 0 0 2rem;
  padding: 0.8rem;
  border: 0;
  outline: 0;
  z-index: 0;
  @include border-radius(0.125em);
  font-weight: 500;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  @include transition;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: $text-color;

  // Light theme (default)
  &:hover {
    background: #cfcfcf;
  }

  // Raised
  &.raised {
    box-shadow: 0 0 0.2em $shadowlight, 0 0.2em 0.2em $shadowlight;
    &:active {
      box-shadow: 0 0 0.6em $shadowlight, 0 0.6em 0.6em $shadowlight;
    }
  }
  // raised
}
// button
svg.ink {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  circle {
    fill: rgba(0, 0, 0, 0.2);
  }
}

// Disabled
// ------------------------------------------
button.disabled,
button.disabled:hover,
button.disabled:focus {

  // Light theme (default)
  box-shadow: none;
  cursor: default;
  background: rgba(black, 0.12);
  color: rgba(black, 0.26);
}
// disabled
.synergia-button {
  @extend .button;
  width: auto;
  margin: 0;
  font-size: 1rem;
  background: $synergia-color;
  color: #ffffff;
  &:hover {
    background: $synergia-light-color;
  }
}
.pagination {
  @extend .button;
  margin: 0.625em;
  width: auto;
  display: inline-block;
  &:hover,
  &:active {
    text-decoration: none;
    color: $text-color;
  }
}

//CARD
.card {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  margin: 10px;

  @include box-shadow;
  @include border-radius(0.125em);
  .excerpt {
    padding: 1.250em;
    font-weight: 300;
    border-radius: 0 0 0.125em 0.125em;
    height: 5.000em;
    @include mq($until: desktop) {
      height: 6em;
    }
  }
  p {
    margin: 0;
  }
  .action {
    border-top: $border-light;
    a {
      @extend .button;
      @extend .pagination;
      margin-right: 1.250em;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 600;
      letter-spacing: inherit;
      color: $cardbutton-color;
      &:hover {
        color: $text-color;
      }
    }
  }
  .image {
    position: relative;
    background-image: $gradient-black;
    height: 13.750em;
    @include mq($from: wide) {
      height: 18.750em;
    }
    overflow: hidden;
    width: inherit;
    @include mq($from:desktop) {
      height: 15.875em;
    }
    img {
      border-radius: 0.125em 0.125em 0 0;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      z-index: -1;
      height: auto;
    }
    .title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 1.250em 1.250em 0.625em;
      color: #ffffff;
      margin: 0;
      font-weight: 400;
    }
  }
}

//TABS
// http://codepen.io/Merri/pen/FAtDq
label {
  cursor: pointer;
}
.tabs {
  & > .tab {
    @include mq($from:tablet) {
      margin: 0 -10px;
    }

    //        @include box-shadow;
    @include border-radius(0.125em);
    // margin: 0.625em;
    display: none;
    // padding: 1px 10px;
  }
  @for $i from 1 through 9 {

    // active tab
    & > input:nth-of-type(#{$i}):checked ~ .tab:nth-of-type(#{$i}) {
      display: block;
    }

    // active tab button
    & > input:nth-of-type(#{$i}):checked ~ .tabs-nav > ul > li:nth-of-type(#{$i}) > label {

      // to make things easier further below we limit styling here
      color: #ffffff;
      background-color: $synergia-color;
    }
  }
  .tabs-nav {
    position: relative;
    display: table;
    margin: 0 auto;

    // checkbox controls size of the list
    & > input {
      & ~ ul {
        height: 0;
        overflow: hidden;
      }
      &:checked ~ ul {
        height: auto;
        overflow: auto;
      }
    }

    // label to control the checkbox
    & > label {
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      height: 2em;
      left: 0;
      line-height: 2em;
      padding: 0 0.5em;
      position: absolute;
      right: 0;
      text-align: right;
      top: 0;
      z-index: 1;
    }

    // then just some nice mobile styles
    & > ul {
      display: block;
      overflow: hidden;
      list-style: none;
      margin: 1.250em 0;
      padding: 2em 0 0;
      position: relative;
      text-align: center;
      font-weight: 600;
      text-transform: uppercase;
      box-shadow: inset 0 0 0 3px $synergia-color;
      @include border-radius(5px);
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      & > li {
        display: inline;
        float: left;
        & > label {
          display: block;
          color: $synergia-color;
          &:hover {
            color: $synergia-light-color;
            @include transition;
          }
        }
      }
    }
  }
  .tabs-nav {

    // undo the stuff done by the checkbox
    & > input {
      & ~ ul,
      &:checked ~ ul {
        background: transparent;
        height: auto;
        overflow: auto;
      }
    }

    // we don't need to control the checkbox
    & > label {
      display: none;
    }

    // minimal changes to tab styles
    & > ul {
      padding: 0;
      & > li {
        & > label {
          display: inline-block;
          padding: 0.5em 1em;
        }
      }
    }
  }
}
.github {
  margin: 0.625em;
}
.dropdown {
  @extend .synergia-button;
  position: relative;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  z-index: 1;
  // width: 200px;
  color: #fff;

  transform-style: preserve-3d;
  perspective: 1500;
  // padding: 0;
  &.flip {
    .front {

      // transform: rotateX(180deg);
    }
    .back {
      height: inherit;
      transform: rotateX(0deg);

    }
  }
  .front,
  .back {
    @include transition;
  }
  .front {
    position: relative;
    z-index: 0;
  }
  .back {
    transform: rotateX(180deg);
    backface-visibility: hidden;
  }
  ul {
    position: absolute;
    z-index: 99;
    width: 200px;
    margin-left: -0.8rem;
    padding: 12px;
    background-color: #fff;
    @include box-shadow;
    list-style: none;
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
    margin-top: -50%;
    @include border-radius(2px);
    li {
      color: $synergia-color;
      line-height: 30px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 1.1em;
      &:hover {
        color: $synergia-light-color;
      }
      a {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &.open {
    ul {

    }
  }
}

// Notyfikacje //
// http://codepen.io/keithpickering/pen/ibtEa
/**
* Notification Styles
*/
.note {
  position: relative;
  overflow: hidden;
  color: white;
  background-color: $synergia-color;
}
.note-secondary {
  background-color: $secondary-color;
}
.note-success {
  background-color: $nephritis;
}
.note-warning {
  background-color: $orange;
}
.note-error {
  background-color: $alizarin;
}
.note-info {
  background-color: $peter-river;
}
.note-icon,
.note-text {
  padding: $note-spacing;
}
.note-icon {
  min-width: ($note-spacing * 2) + 32px;
  text-align: center;
  font-size: 2rem;
  background-color: rgba(black, 0.25);
  padding: 0;
}
.note-text {
  padding-right: $note-spacing * 2;
}
.note-close {
  position: absolute;
  top: $note-spacing / 2;
  right: $note-spacing / 2;
  line-height: 30px;
  font-size: 24px;
  text-align: center;
  color: white;
  background-color: rgba(black, 0.25);
  opacity: 0;
  transition: all 0.25s;
  &:hover {
    background-color: rgba(black, 0.15);
    color: #fff;
  }
  .note:hover & {
    opacity: 1;
  }
}

/**
 * Flag Object
 * Original Source: http://csswizardry.com/2013/05/the-flag-object/
 */
.flag {
  @extend .margin;
  display: table;
  width: 100%;
}
.flag-image,
.flag-body {
  display: table-cell;
  vertical-align: middle;
  .flag--top & {
    vertical-align: top;
  }
  .flag-bottom & {
    vertical-align: bottom;
  }
}
.flag-image {

  //  padding-right: $note-spacing;
  > img {
    display: block;
    max-width: none;
  }
  .flag-rev & {
    padding-right: 0;
    padding-left: $note-spacing;
  }
}
.flag-body {
  width: 100%;
}
