.page-template-login {
    height: 100%;
    position: fixed;
    display: block;
    width: 100%;
    background-image: url(../img/login_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.loginbox {
    width: 300px;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    &__title {
        background-color: $text-color;
        height: 50px;
        border-radius: 5px 5px 0 0;
        @include background-image('synergia-mono-horizontal-inverted');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 200px auto;
        height: 65px;
        width: 100%;
        margin-bottom: -1px;
        text-align: center;
        text-transform: uppercase;
    }
    &__fieldset {
        background: $synergia-grey-color;
        border-radius: 0 0 5px 5px;
        padding: 20px;
        position: relative;
        &:before {
            background-color: $synergia-grey-color;
            content: "";
            height: 8px;
            left: 50%;
            margin: -4px 0 0 -4px;
            position: absolute;
            top: 0;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            width: 8px;
        }
    }
    &__input {
        background-color: #fff;
        box-sizing: border-box;
        text-align: center;
        &--login {
            border-radius: 3px 3px 0 0;
            border: $border-light;
            padding: 8px 6px;
            width: 100%;
        }
        &--password {
            font: caption;
            border-radius: 0 0 3px 3px;
            border: $border-light;
            border-top: 0;
            padding: 8px 6px;
            width: 100%;
            margin-bottom: 15px;
        }
        &--checkbox {
            display: none;
        }
    }
}
