ul.member-list {
  list-style: none;
  padding: 0;
  margin: 0.625em;
  li {
    padding: 8px 0;
    display: block;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      bottom: 0;
      right: 0;
      height: 1px;
      width: calc(100% - 65px);
    }
    &:last-child {
      &:after {
        background: rgba(0, 0, 0, 0);
      }
    }
    .avatar-image {
      @include mq($until: tablet) {
        float: left;
      }
    }
    img {
      @include circle(50px, #ffffff);
    }
  }
  .name {
    padding-left: 0.625em;
    @include mq($until: tablet) {
      overflow: hidden;
      padding-left: 0;
      margin-left: 3.750em;
    }
  }
  .links {
    @include mq($until: tablet) {
      margin-left: 3.750em;
    }
  }
  .project-count {
    cursor: pointer;
    @include clearfix;
    @include mq($until: tablet) {
      position: absolute;
      top: 25%;
      right: 0;
      &:hover .finished {
        right: 40px;
      }
      &:hover .in-progress {
        right: 10px;
        z-index: 0;
      }
    }
    &:hover .finished {
      right: 50px;
    }
    &:hover .in-progress {
      right: 10px;
      z-index: 0;
    }
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        color: #fff;
      }
    }
    .finished {
      @include transition($bezier);
      border-radius: 50%;
      background-color: $synergia-color;
      color: #fff;
      height: 30px;
      width: 30px;
      text-align: center;
      line-height: 30px;
      font-weight: 600;
      position: absolute;
      right: 10px;
      top: 25%;
      z-index: 0;
      @include mq($until: tablet) {
        right: 40px;
      }
    }
    .in-progress {
      @extend .finished;
      z-index: -1;
      background-color: $synergia-color-light;
      right: 10px;
      @include mq($until: tablet) {
        right: 0;
        z-index: 0;
      }
    }
  }
  .memberboard-info {
    @extend .count;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @include mq($until: tablet) {
      right: 1em;
      width: 30%;
    }
  }
  h3 {
    float: left;
    margin: 0;
    font-weight: 400;
    font-size: 1.5em;
    a {
      color: $text-color;
      text-decoration: none;
    }
  }
}
