@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *,
    *:after,
    *:before {
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="http://www.pwr.edu.pl/index.dhtml"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    blockquote,
    pre {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    img,
    tr {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    h2,
    h3,
    p {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
    .topbarWrapper,
    .footer__social,
    .download-button-container {
        display: none;
    }
    .global {
        padding: 0;
        margin-bottom: 0;
    }
    .project__meta {
        // background-color: #fff;
        padding: 0 60px;
    }
    .project__title {
        // background-color: #fff;
        font-size: 3rem;
    }
    a.link--name[href]:after {
        content: "";
    }
    a.link--social[href]:after {
        content: "";
    }
    .membercardSmall__avatarWrapper a[href]:after {
        content: "";
    }
    .footer-wrapper {
        position: relative;
    }
}
