.recruitment {
    /* Background image is centered vertically and horizontally at all times */
    background-position: center center;
    /* Background image doesn't tile */
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when
   the content's height is greater than the image's height */
    background-attachment: fixed;
    /* This is what makes the background image rescale based
   on the container's size */
    background-size: cover;
    width: 100vw;
    height: 100vh;

    &__grad {
        background: linear-gradient( rgba(58, 59, 129, 0.87), rgba(126, 62, 145, 0.68) ),;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    &__title {
        color: #fff;
        font-family: 'PT Mono', monospace;
        font-size: 22px;
        font-weight: normal;
    }

    &__info {
        color: #fff;
        font-family: 'PT Mono', monospace;
        font-size: 22px;
    }
    &__links {
        margin-top: 20px;

        color: #fff;
        font-family: 'PT Mono', monospace;
        font-size: 22px;
    }
}
