@import 'vars';
@import 'mixins';
@import '../../bower_components/normalize-scss/_normalize';
@import '../../bower_components/sass-mq/mq';
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
 ::-moz-selection {
    background: $synergia-color;
    text-shadow: none;
    color: #ffffff;
}
 ::selection {
    background: $synergia-color;
    text-shadow: none;
    color: #ffffff;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: $border-light;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}
html {
    // height: 100%;
    // overflow-y: scroll;
}
blockquote {
    position: relative;
    z-index: 1;
    margin: 20px -30px;
    padding: 0 10%;
    font-size: 2em;
    font-weight: 200;
    background-color: $grey;
    @include clearfix;
}
// Synergiczne style //
body {
    font-family: $synergia-fontstack;
    font-size: $font-size;
    line-height: $line-height;
    color: $text-color;
    background-color: $background-color;
    position: relative;
}
input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border: none;
    padding: 5px;
}
ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}
figure {
    margin: 0;
}
img {
    vertical-align: middle;
    // this css hide image till img src is not loaded completely.
    &:not([src]) {
        display: none;
    }
}
//========================//
.global {
    background-color: $background-color;
    z-index: 1;
    margin-bottom: 100vh;
    min-height: 100vh;
    padding: 70px 0 40px;
    @include angle(after, false, 1.5deg);
    &:after {
        box-shadow: $shadow-dark-bottom;
    }
    @include mq($from:tablet) {
        margin-bottom: 90vh;
        padding-top: 91px;
    }
    &--full {
        margin-bottom: 0;
        height: 100vh;
    }
    &--frontpage {
        padding-top: 40px;
    }
}
.compensator {
    @include clearfix;
    @include mq($from:tablet) {
        margin: -10px -10px 0; //kompensacja odstępu
    }
}
.container {
    @include clearfix;
    margin-right: auto;
    margin-left: auto;
    @include mq($from: tablet) {
        width: $container-tablet;
    }
    @include mq($from: desktop) {
        width: $container-desktop;
    }
    @include mq($from: wide) {
        width: $container-wide;
    }
    &--full {
        width: 100%;
    }
}
.sponsors-container {
    position: relative;
    padding: 0;
    overflow: hidden;
    text-align: center;
    @include mq($until: tablet) {
        display: none;
    }
    h4 {
        text-transform: uppercase;
        font-weight: 700;
        @extend h2;
        font-size: 1.25em;
        color: $text-color-light;
        margin: 40px 0 20px;
        border-bottom: $border-light;
    }
    a:hover {
        text-decoration: none;
    }
    img {
        opacity: $image-opacity;
        filter:alpha(opacity=calc($image-opacity * 100)); // For IE8 and earlier
        filter:grayscale(1);
        width: auto;
        margin: 15px;
        max-height: 75px;
        max-width: 200px;
        @include transition($bezier);
        &:hover {
            opacity: 1;
            filter:alpha(opacity=100); // For IE8 and earlier
            filter:grayscale(0);
        }
    }
}
.partnership-container {
    @extend .sponsors-container;
}
.widget {
    @extend .partnership-container;
    h3 {
        margin-top: 0;
    }
}
.cardsWrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    @include mq($from: wide) {
        align-content: flex-start;
        justify-content: flex-start;
    }
}
@import 'author';
@import "about";
@import "topbar";
@import "banner";
@import "footer";
@import "nojs";
@import 'archive';
@import 'components';
@import "404"; // Style z project także wykorzystywane są w single i page
@import 'project';
@import 'member';
@import 'recruitment';
@import "login";
@import 'animations';
@import "lazy";
@import "helpers";
@import "print";
