@import 'vars';
@import 'mixins';
@import '../../bower_components/normalize-scss/_normalize';
@import '../../bower_components/sass-mq/mq';
@import 'gridlayout';

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
 ::-moz-selection {
  background: $synergia-color;
  text-shadow: none;
  color: #ffffff;
}
 ::selection {
  background: $synergia-color;
  text-shadow: none;
  color: #ffffff;
}

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical;
}
html {
  height: 100%;
}

// Synergiczne style //
body {
  font-family: $synergia-fontstack;
  font-size: $font-size;
  line-height: $line-height;
  color: $text-color;
  background-color: $background-color;
  position: relative;
  min-height: 100%;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border: none;
  padding: 5px;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
a {
  color: $synergia-color;
  text-decoration: none;
  @include transition;
}
a:hover,
a:focus {
  color: $synergia-light-color;
  text-decoration: underline;
}
a:focus {
  outline: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}

//========================//
.content-wrapper {
  @include mq($from:tablet) {
    margin: 0 -10px; //kompensacja odstępu dla .card
  }
}
.dmbs-container {
  @include mq($from: tablet) {
    margin-top: 0;
  }
}
.container {
  padding-bottom: 145px;
  @include clearfix;
  margin-right: auto;
  margin-left: auto;
  @include mq($from: tablet) {
    width: 750px;
  }
  @include mq($from: desktop) {
    width: 970px;
  }
  @include mq($from: wide) {
    width: $container-width;
  }
}
.navbar-inverse {
  background-color: $background-color;
  .navbar-nav {
    > li {
      > a {
        color: $synergia-color;
        &:hover {
          color: $synergia-light-color;
        }
        @include mq($until: tablet) {
          color: $synergia-light-color;
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }
  @include mq($until: tablet) {
    background-color: $synergia-color;
  }
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  @include mq($until: tablet) {
    color: #fff;
  }
  color: $synergia-color;
  background-color: transparent;
  border-bottom: 4px solid $synergia-color;
  padding-bottom: 5px;
}
.navbar {
  position: relative;

  //    height: 56px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  @include clearfix;
  @include mq($from: tablet) {
    border-radius: 4px;
  }
  @include mq($until: tablet) {
    margin-bottom: 0;
  }
}
.navbar-collapse {
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  @include mq($from: tablet) {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .collapse {
    @include mq($from: tablet) {
      display: block !important;
      height: auto !important;
      padding-bottom: 0;
      overflow: visible !important;
    }
    @include mq($until: tablet) {
      overflow-x: hidden;
      background-color: $synergia-color;
      position: relative;
      z-index: 10;
    }
    .in {
      overflow-y: auto;
      @include mq($from: tablet) {
        overflow-y: visible;
      }
    }
  }
}
.collapse {
  @include mq($from: tablet) {
    display: block;
  }
  display: none;
  &.in {
    display: block;
  }
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
.navbar-fixed-top .navbar-collapse,
.navbar-static-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  @include mq($from: tablet) {
    padding-left: 0;
    padding-right: 0;
  }
}
nav {
  .container {
    padding: 0;
  }
}
.container > .navbar-header,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container-fluid > .navbar-collapse {

  //  margin-right: -15px;
  margin-left: -15px;
  @include clearfix;
  @include mq($from: tablet) {
    margin-right: 0;
    margin-left: 0;
  }
}
.navbar-header {
  @include mq($from: tablet) {
    float: left;
  }
}
.navbar-nav {
  margin: 7.5px -15px 0;
  padding-left: 0;
  list-style: outside none none;
  z-index: 10;
  position: relative;
  > li {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: block;
    z-index: 10;
    > a {
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 25px;
      padding: 10px 15px;
      outline: 0 none;
      text-decoration: none;
      display: block;
    }
  }
  @include mq($from: tablet) {
    float: right;
    margin: 1px;
    > li {
      text-transform: uppercase;
      font-weight: bold;
      float: left;
      > a {

        //                padding-top: 15px;
        //                padding-bottom: 15px;
      }
    }
  }
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: outside none none;
  z-index: 10;
  position: relative;
  > li {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    display: block;
    z-index: 10;
    > a {
      padding: 10px 15px;
      outline: 0 none;
      text-decoration: none;
    }
  }
}
.sponsors-container {
  position: relative;
  padding: 0;
  overflow: hidden;
  text-align: center;

  // @include mq($until: tablet) {
  //   display: none;
  // }
  h4 {
    text-transform: uppercase;
    font-weight: 700;
    @extend h2;

    // font-size: 2em;
    color: $cardbutton-color;
    margin: 40px 0 20px;
    border-bottom: $border-light;
  }
  a:hover {
    text-decoration: none;
  }
  img {
    opacity: $image-opacity;
    filter:alpha(opacity=calc($image-opacity * 100)); // For IE8 and earlier
    filter:grayscale(1);
    width: auto;
    margin: 15px;
    height: 75px;
    @include transition;
    &:hover {
      opacity: 1;
      filter:alpha(opacity=100); // For IE8 and earlier
      filter:grayscale(0);
    }
  }
}
.partnership-container {
  @extend .sponsors-container;
}
.widget {
  @extend .partnership-container;
  h3 {
    margin-top: 0;
  }
}
.footer-wrapper {
  @include mq($from:tablet) {
    position: absolute;
    height: 105px;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
.footer {
  position: relative;
  line-height: 1.2;
  padding: 10px 0 5px;
  border-bottom: 5px solid $synergia-color;
  border-top: $border-light;
  margin: 0 auto;
  @include mq($from:desktop) {
    width: $container-width;
  }
  @include clearfix;
  a {
    color: $text-color;
  }
}
.footer-icons {
  @include preserve-3d;
  div {
    position: relative;
    text-align: center;
    padding: 0.625em;
    @include mq($from: tablet) {
      right: 0;
      position: absolute;
      @include vertical-align();
    }
    a {
      i {
        font-size: 1.6em;
      }
    }
  }
}
.pwr {
  @include background-image('pwr');
  width: 64px;
  height: 93px;
  margin: 0 auto;
  opacity: 0.9;
  &:hover {
    opacity: 1;
    filter:alpha(opacity=100); // For IE8 and earlier
  }
}
.mknm-footer {
  @include mq($until: tablet) {
    text-align: center;
  }
  ul {
    padding: 0;
    margin: 10px 0 0;
    font-size: 0.875em;
    li {
      list-style: outside none none;
    }
    @include mq($until:tablet) {
      text-align: center;
      padding-bottom: 15px;
    }
  }
}
.left {
  float: left;
}
.text-right {
  text-align: right;
}
.portfolio-content {
  overflow: hidden;
  display: block;
  position: relative;
}
.showcase {
  @include mq($from:tablet) {
    margin: 0 -10px; //kompensacja odstępu dla .card
  }
  .portfolio-content {
    max-height: 520px;
    @include mq($from:desktop) {
      max-height: 560px;
    }
    .bottom-fade {
      position: absolute;
      width: inherit;
      background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 1));
      bottom: 0;
      left: 0;
      height: 100px;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      a {
        font-weight: 600;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: inherit;
        color: #fff;
        position: relative;
        @include vertical-align();
      }
    }
  }
}
@import 'author';
@import 'archive';
@import 'components';
@import 'project';
@import 'member';
@import 'recruitment';
@import "login";
@import 'animate';
@import "lazy";
@import "print";
